* {
  margin: 20px;
}
.button Action {
  margin: center;
  background-color: rebeccapurple;
  color: black;
}

.dropdown {
  margin: 10px;
  margin-left: 10%;
  margin-right: 60%;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 20%;
}
#mat-elevation-z8 {
  width: 90%;
  text-align: center;
}
.btn-secondary {
  margin: center;
  background-color: rebeccapurple;
  color: white;
}
.cart {
  padding-left: 800px;
  padding-top: 10px;
}
